{% extends 'hr/base.html' %}
{% block title %}
HR DB - Add Employee
{% endblock %}
{% block content %}
{% if messages %}
<strong>Error</strong>
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<h2>Add new employee</h2>
<form method="post" action="{% url 'hr:add_employee' %}">
  {% csrf_token %}

  {% component "basic_info" employee %}
  {% component "address"  employee %}
  {% component "legal" employee %}

  <button type="submit" class="btn btn-primary">Add</button>
</form>
{% endblock %}
