{% extends 'hr/base.html' %}
{% block title %}
HR DB - Add Team
{% endblock %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<h2>Create new team</h2>
<form method="post" action="{% url 'hr:add_team' %}">
  {% csrf_token %}

  <div class="row">
    <div class="col">
      <label for="name" class="form-label">Name</label>
    </div>
    <div class="col col-10">
      <input class="form-control" name="name" value="{{ team.name }}" />
    </div>
  </div>


  <button type="submit" class="btn btn-primary">Add</button>
</form>
{% endblock %}
