{% extends 'hr/base.html' %}
{% block title %}
HR DB - Edit d Address
{% endblock %}
{% block content %}
<h2>Edit Address</h2>
Editing address of {{ employee.basic_info.name }}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form action="{% url 'hr:address'  employee.id %}" method="post">
  {% csrf_token %}
  {% component "address" employee=employee %}

  <button type="submit" class="btn btn-primary">Update</button>
</form>
{% endblock %}
