{% extends 'hr/base.html' %}
{% block title %}
HR DB - Edit Legal Information
{% endblock %}
{% block content %}
<h2>Edit Employee Legal Information</h2>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form action="{% url 'hr:legal' employee.id %}" method='post'>
  {% csrf_token %}
  {% component "legal" employee=employee %}
  <button type="submit" class="btn btn-primary">Update</button>
</form>
{% endblock %}
