<fieldset>
  <legend>Basic Info</legend>
  <div class="row">
    <div class="col">
      <label for="name" class="form-label">Name</label>
    </div>
    <div class="col col-10">
      <input class="form-control" name="name" value="{{ employee.name }}" />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="email" class="form-label">Email</label>
    </div>
    <div class="col col-10">
      <input class="form-control" name="email" value="{{ employee.email }}" />
    </div>
  </div>
</fieldset>
